<div class="city">
	<h1>WalkSafe</h1>
	<div class="box">
		<div class="stuff_in_box">
			<%= link_to 'Crime Map', crimes_path %>
		</div>
	</div>
</div>
<script>
	
// Adds the click function	
// $("body").click(function() {
//     $(this).toggleClass('clicked');
// });


function sunRise(){
  var sunshine = $("<img class='sunshine' src='./sun.png'>");
  $('body').append(sunshine);
  sunshine.css({
  	position: 'relative',
  	height: '30%',
  	width: '15%',
  	float: 'right',
  	bottom: '-600px',
  	'z-index': '1',
  	display: 'block'
  });
  sunshine.animate({
  	bottom: '5px'
  }, 9000);
}

$(function(){

	$("body").toggleClass('sky');

	sunRise();

})

</script>