


<div class='my-legend'>
  <div class='legend-title'>The Crime Map</div>
    <div class='legend-scale'>
      <ul class='legend-labels'>
        <li><span style='background:#8DD3C7;'></span>One</li>
        <li><span style='background:#FFFFB3;'></span>Two</li>
        <li><span style='background:#BEBADA;'></span>Three</li>
        <li><span style='background:#FB8072;'></span>Four</li>
        <li><span style='background:#80B1D3;'></span>etc</li>
      </ul>
    </div>
  <div class='legend-source'>Source: <a href="#link to source">Name of source</a></div>
</div>

<div id='map'>
  <h1>The Map</h1>
</div>

<div id="filters">
  <select id="name">
    <option value="">Crime Type</option>
    <option>MURDER</option>
    <option>RAPE</option>
    <option>ROBBERY</option>
    <option>FELONY ASSAULT</option>
    <option>BURGLARY</option>
    <option>GRAND LARCENY</option>
    <option>GRAND LARCENY OF MOTOR VEHICLE</option>
  </select>
</div>



