
<div id='map'>
  <h1>The Map</h1>
</div>

<div id="filters">
  <select id="name">
    <option value="">Crime Type</option>
    <option>MURDER</option>
    <option>RAPE</option>
    <option>ROBBERY</option>
    <option>FELONY ASSAULT</option>
    <option>BURGLARY</option>
    <option>GRAND LARCENY</option>
    <option>GRAND LARCENY OF MOTOR VEHICLE</option>
  </select>
</div>


