
<div id='map'>
  <h1>The Map</h1>
</div>

<div id="filters">
  <select id="name">
    <option value="">Crime Type</option>
    <option>Murder</option>
    <option>Rape</option>
    <option>Robbery</option>
    <option>Felony Assault</option>
    <option>Burglary</option>
    <option>Grand Larceny</option>
    <option>Grand Larceny of Motor Vehicle</option>
  </select>
</div>


