// Place all the styles related to the Crimes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body { 
	margin:0; 
	padding:0; 
}

#map { 
	position: absolute;
  z-index: 1;
	top:0; 
	bottom:0; 
	width:100%; 
}

.my-legend {
  position: absolute;
  z-index: 2;
  border: 2px solid black;
  margin: 5px;
  padding: 5px;
  background-color: white;
  border-radius: 7px;
}

.my-legend .legend-title {
  text-align: left;
  margin-bottom: 5px;
  font-weight: bold;
  font-size: 90%;
}
.my-legend .legend-scale ul {
  margin: 0;
  margin-bottom: 5px;
  padding: 0;
  float: left;
  list-style: none;
}
.my-legend .legend-scale ul li {
  font-size: 80%;
  list-style: none;
  margin-left: 0;
  line-height: 18px;
  margin-bottom: 2px;
}
.my-legend ul.legend-labels li span {
  display: block;
  float: left;
  height: 16px;
  width: 30px;
  margin-right: 5px;
  margin-left: 0;
  border: 1px solid #999;
}
.my-legend .legend-source {
  font-size: 70%;
  color: #999;
  clear: both;
}
.my-legend a {
  color: #777;
}

.legend_buttons {
  // height: 20px;
  // clear: both;
  // margin: 20px;
  // position: absolute;
  bottom: 0px;
}

#filters {
  position: fixed;
  margin-top: 200px;
  // top: 10px; right: 10px;
  // z-index: 3;
  width: 15em;
  height: 20em;
}
// #map marker{
//   radius: 40;
// }