// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


body {
	background-color: black;
	transition:background-color 20s ease;
}

.sky {
  background:#6699FF;
}

.city {
  background-image: url('https://s3.amazonaws.com/uploads.hipchat.com/39979/1149039/tPM1xVl5VXUQXDz/NY-Skyline.png');
	background-size: 95% auto;
	margin: 0;
	padding-bottom: 10px;
	width: 100%;
	height: 100%;
	position: absolute;
	color: white;
	z-index: 3;	
}

.box {
	background-color: white;
	width: 600px;
	height: 400px;
	margin: 20px;
	border: 3px solid black;
	border-radius: 7px;
	opacity: 0.9;
	z-index: 4;
	
}

.remove_box {
	display: none;
}

.stuff_in_box {
	margin-left: 80px;
	top: 0;
}

.stuff_in_box p {
	font-family: 'Montserrat Subrayada', sans-serif;
	// font-family: 'Raleway Dots', cursive;

	color: black;
	font-size: 60px;
	margin-left: 0px;
}

.footprints {
	height: 90px;
	width: 70px;
}

.stuff_in_box button {
	font-size: 20px;
}

#login {
	height: 140px;
	width: 140px;
	border: 2px solid black;
	border-radius: 70px;
	background-color: green;
	opacity: 0.9;
	font-family: 'Montserrat Subrayada', sans-serif;
}

#login:hover {
	cursor: pointer;
	opacity: 1.0;
}

#signup {
	height: 140px;
	width: 140px;
	border: 2px solid black;
	border-radius: 70px;
	background-color: yellow;
	opacity: 0.8;
	font-family: 'Montserrat Subrayada', sans-serif;
}

#signup:hover {
	cursor: pointer;
	opacity: 1.0;
}

#about {
	height: 140px;
	width: 140px;
	border: 2px solid black;
	border-radius: 70px;
	background-color: red;
	opacity: 0.8;
	font-family: 'Montserrat Subrayada', sans-serif;
}

#about:hover {
	cursor: pointer;
	opacity: 1.0;
}

#crime_map a:link, #crime_map a:visited, #crime_map a:hover, #crime_map a:active {
	text-decoration: none;
}

#crime_map {
	height: 140px;
	width: 140px;
	border: 2px solid black;
	border-radius: 70px;
	background-color: green;
	opacity: 0.9;
	font-family: 'Montserrat Subrayada', sans-serif;
	font-color: black;
}

#crime_map:hover {
	cursor: pointer;
	opacity: 1.0;
}

#profile {
	height: 140px;
	width: 140px;
	border: 2px solid black;
	border-radius: 70px;
	background-color: yellow;
	opacity: 0.8;
	font-family: 'Montserrat Subrayada', sans-serif;
}

#profile:hover {
	cursor: pointer;
	opacity: 1.0;
}

#logout {
	height: 140px;
	width: 140px;
	border: 2px solid black;
	border-radius: 70px;
	background-color: red;
	opacity: 0.8;
	font-family: 'Montserrat Subrayada', sans-serif;
}

#logout a:link, #logout a:visited, #logout a:hover, #logout a:active, {
	text-decoration: none;
}

#logout:hover {
	cursor: pointer;
	opacity: 1.0;
}

#login_box {
	background-color: white;
	width: 800px;
	height: 500px;
	margin-top: 100px;
	margin-left: 250px;
	border: 2px solid black;
	border-radius: 7px;
	opacity: 0.9;
	z-index: 5;
	display: none;
	position: absolute;
  top:0;
  bottom: 0;
  left: 0;
  right: 100;

}

#login_text {
	width: 700px;
	height: 375px;
	border: 2px solid black;
	border-radius: 7px;
	background-color: darkgrey;
	opacity: 1;
	margin-top: 60px;
	margin-left: 45px;
}

#login_text p {
	font-size: 30px;
	align: center;
}

#stuff {
	padding: 120px;
}

#stuff p {
	font-size: 30px;
	font-family: 'Montserrat Subrayada', sans-serif;
}

#signup_box {
	background-color: white;
	width: 800px;
	height: 500px;
	margin-top: 100px;
	margin-left: 250px;
	border: 2px solid black;
	border-radius: 7px;
	opacity: 0.9;
	z-index: 5;
	display: none;
	position: absolute;
  top:0;
  bottom: 0;
  left: 0;
  right: 100;
}

#signup_text {
	width: 700px;
	height: 375px;
	border: 2px solid black;
	border-radius: 7px;
	background-color: darkgrey;
	opacity: 1;
	margin-top: 60px;
	margin-left: 45px;
}

#signup_text p {
	font-size: 30px;
	margin-left: 250px;
	margin-top: 60px;
	font-family: 'Montserrat Subrayada', sans-serif;
}

.signup_form {
	margin-left: 250px;
}

#signup_cancel {
	margin-left: 250px;
}

#about_box {
	background-color: white;
	width: 800px;
	height: 500px;
	margin-top: 100px;
	margin-left: 250px;
	border: 2px solid black;
	border-radius: 7px;
	opacity: 0.9;
	z-index: 5;
	display: none;
	position: absolute;
  top:0;
  bottom: 0;
  left: 0;
  right: 100;
}

#about_text {
	width: 700px;
	height: 375px;
	border: 2px solid black;
	border-radius: 7px;
	background-color: darkgrey;
	opacity: 1;
	margin-top: 60px;
	margin-left: 45px;	
}

.about_title {
	font-size: 30px;
	margin-left: 275px;
	margin-top: 60px;
	font-family: 'Montserrat Subrayada', sans-serif;
}

.paragraph {
	font-size: 15px;
	margin: 40px;
}

#about_cancel {
	margin-left: 320px;	
}

#profile_box {
	background-color: white;
	width: 800px;
	height: 500px;
	margin-top: 100px;
	margin-left: 250px;
	border: 2px solid black;
	border-radius: 7px;
	opacity: 0.9;
	z-index: 5;
	display: none;
	position: absolute;
  top:0;
  bottom: 0;
  left: 0;
  right: 100;

}

#profile_text {
	width: 700px;
	height: 375px;
	border: 2px solid black;
	border-radius: 7px;
	background-color: darkgrey;
	opacity: 1;
	margin-top: 60px;
	margin-left: 45px;
}

#profile_box p {
	margin-left: 240px;

}

#profile_box h2 {
	font-size: 30px;
	margin-top: 120px;
	margin-left: 150px;
	font-family: 'Montserrat Subrayada', sans-serif;
}

#profile_cancel {
	margin-left: 240px;	
}











