// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


body {
	background-color: black;
	transition:background-color 20s ease;
  background-image: url('https://s3.amazonaws.com/uploads.hipchat.com/39979/1149039/tPM1xVl5VXUQXDz/NY-Skyline.png');
	background-size: 95% auto;
	margin: 0;
	padding-bottom: 10px;
	width: 100%;
	height: 100%;
	position: absolute;
	color: white;
	z-index: 3;
	/*overflow: hidden;*/
}

.clicked {
  background:#6699FF;
  background-image: url('https://s3.amazonaws.com/uploads.hipchat.com/39979/1149039/tPM1xVl5VXUQXDz/NY-Skyline.png');
	background-size: 95% auto;
	margin: 0;
	padding-bottom: 10px;
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: 3;
}


.box {
	background-color: white;
	width: 400px;
	height: 200px;
	margin: 20px;
	border: 2px solid black;
	border-radius: 7px;
	opacity: 0.2;
}

.stuff_in_box p {
	color: black;
}