// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


body {
	background-color: black;
	transition:background-color 20s ease;
}

.sky {
  background:#6699FF;
}

.city {
  background-image: url('https://s3.amazonaws.com/uploads.hipchat.com/39979/1149039/tPM1xVl5VXUQXDz/NY-Skyline.png');
	background-size: 95% auto;
	margin: 0;
	padding-bottom: 10px;
	width: 100%;
	height: 100%;
	position: absolute;
	color: white;
	z-index: 3;	
}

.box {
	background-color: white;
	width: 600px;
	height: 300px;
	margin: 20px;
	border: 2px solid black;
	border-radius: 7px;
	opacity: 0.9;
	z-index: 4;
	
}

.remove_box {
	display: none;
}

.stuff_in_box {
	margin-left: 80px;
}

.stuff_in_box p {
	color: black;
	font-size: 60px;
	margin-left: 70px;

}

#login {
	height: 140px;
	width: 140px;
	border-radius: 70px;
	background-color: green;
}

#signup {
	height: 140px;
	width: 140px;
	border-radius: 70px;
	background-color: yellow;
}

#about {
	height: 140px;
	width: 140px;
	border-radius: 70px;
	background-color: red;
}

#crime_map {
	height: 140px;
	width: 140px;
	border-radius: 70px;
	background-color: green;
}

#profile {
	height: 140px;
	width: 140px;
	border-radius: 70px;
	background-color: yellow;
}

#logout {
	height: 140px;
	width: 140px;
	border-radius: 70px;
	background-color: red;
}

#login_box {
	background-color: white;
	width: 800px;
	height: 500px;
	margin-top: 100px;
	margin-left: 250px;
	border: 2px solid black;
	border-radius: 7px;
	opacity: 0.9;
	z-index: 5;
	display: none;
	position: absolute;
  top:0;
  bottom: 0;
  left: 0;
  right: 100;

}

#login_text {
	width: 700px;
	height: 375px;
	border: 2px solid black;
	border-radius: 7px;
	background-color: darkgrey;
	opacity: 1;
	margin-top: 60px;
	margin-left: 45px;
}

#login_text p {
	font-size: 30px;
	align: center;
}

#stuff {
	padding: 120px;
}

#stuff p {
	font-size: 30px;
}

#signup_box {
	background-color: white;
	width: 800px;
	height: 500px;
	margin-top: 100px;
	margin-left: 250px;
	border: 2px solid black;
	border-radius: 7px;
	opacity: 0.9;
	z-index: 5;
	display: none;
	position: absolute;
  top:0;
  bottom: 0;
  left: 0;
  right: 100;
}

#signup_text {
	width: 700px;
	height: 375px;
	border: 2px solid black;
	border-radius: 7px;
	background-color: darkgrey;
	opacity: 1;
	margin-top: 60px;
	margin-left: 45px;	
}

#about_box {
	background-color: white;
	width: 800px;
	height: 500px;
	margin-top: 100px;
	margin-left: 250px;
	border: 2px solid black;
	border-radius: 7px;
	opacity: 0.9;
	z-index: 5;
	display: none;
	position: absolute;
  top:0;
  bottom: 0;
  left: 0;
  right: 100;
}

#about_text {
	width: 700px;
	height: 375px;
	border: 2px solid black;
	border-radius: 7px;
	background-color: darkgrey;
	opacity: 1;
	margin-top: 60px;
	margin-left: 45px;	
}









